<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (ngSubmit)="onPost(form)">
      <div class="form-group">
    <label for="Title">Title </label>
    <input type="text" id="text" name="title" formControlName="title" class="form-control">
  </div>

  <div class="content">
    <label for="content">Mail </label>

    <input type="email" id="email" name="email" formControlName="mail" class="form-control">
  </div>
  <hr>
  <button class="btn btn-primary" type="submit">Send Post</button>
  <hr>
  <div class="row">
    <div class="col-xs-6">

      <button class="btn btn-success mr-2" type="button" >Fetch Post</button>
    </div>

        <div class="col-xs-6">
          <button class="btn btn-success" type="button">Clear Post</button>
        </div>
          </div>
        </form>
    </div>
  </div>
    </div> -->




<!-- //PIPES
<!-- <strong *ngFor="let str of (Subscriptions |sort:true)"> {{str |reversePipe |uppercase}} </strong> -->



  <!-- //Main APP------------------------------------------------------------------------ -->

<app-header ></app-header>
  <div class="container">
  <div class="row">
    <div class="col-xs-12">
   <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- // TEMPLATE DRIVEN FORM----------------------------- -->
<!--- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form #signupForm="ngForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" id="email" ngModel name="email" required email class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter Valid Email</span>
        </div>

              <div class="form-group">
              <label for="subscription">Choose a Subscription</label>
              <select name="subscription" id="subscription" [ngModel]="selectedSubscription" class="form-control">
                    <option *ngFor="let subscription of Subscriptions" [value]="subscription">{{subscription}}</option>
              </select>
              </div>

              <div class="form-group">
                <label for="password">password</label>
                <input type="password" id="password" name="password" ngModel required class="form-control" #pwd="ngModel">
                <span class="help-block" *ngIf="!pwd.valid && pwd.touched">Please enter Valid Password</span>
              </div>
              <p *ngIf="!signupForm.valid &&signupForm.touched">The Form is Invalid</p>
              <button class="btn btn-primary">Submit</button>
              </form>

    </div>
  </div>
</div> -->

<!-- // Reative form--------------------------------------------------------------
<form [formGroup]="projectForm" (ngSubmit)="onSaveProject()">
  <div class="form-group">
    <label for="projectname">Project Name </label>
    <input type="text" id="text" formControlName="projectName" class="form-control">


  </div>
  <div class="form-group">
    <label for="email">Mail </label>

    <input type="email" id="email" formControlName="email" class="form-control">

  </div>
  <div class="form-group">
    <label for="status">Status </label>
    <select name="status" id="status" formControlName="projectStatus" class="form-control">
    <option value="stable">stable</option>
    <option value="critical">Critical</option>
    <option value="finished">Finished</option>
</select>
  </div>

<button class="btn btn-primary" type="submit">Create Project</button>

</form> -->

<!-- <p appBetterHighlight> style me with better directive </p>
// DIRECTIVES---------------------------------------------------------------------------
<p appBasicHighlight> style me with basic directive </p>
<app-header (featureSelected)="onNavigate($event)"></app-header>-->
<!-- <app-recipe *ngIf ="loadedfeature === 'recipe'"></app-recipe>
<app-shopping-list *ngIf ="loadedfeature === 'shopping-list'"></app-shopping-list> -->


 <!-- <div [ngSwitch]='value'>
  <p *ngSwitchCase="5">value is 5</p>
  <p *ngSwitchCase="10">value is 10</p>
  <p *ngSwitchCase="100">value is 100</p>
  <p *ngSwitchDefault>value is 15</p>
</div> -->
<!-- <app-my-assigment1> </app-my-assigment1>
<app-my-assigment2></app-my-assigment2>


<!- components and databinding deepdive--------------------------------------------------------

<div class="container">
  <app-game-control (incrementSetEvent)="onFireEvent($event)" (clearSetEvent)="onClearEvent($event)"></app-game-control>
  <app-cockpit (serverCreated)="onServerAdded($event)" (blueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" >
      <p>
        <strong *ngIf="serverElement.type==='server'" style="color:red">{{ serverElement.content }}
        </strong>
        <em *ngIf="serverElement.type==='blueprint'">{{ serverElement.content }}
        </em>
</p>
      </app-server-element>
      <div class="row">
        <div class="col-xs-12">
          <app-odd *ngFor="let oddnumber of oddNumbers" [number]= "oddnumber"></app-odd>
          <app-even *ngFor="let evennumber of evenNumbers" [number]= "evennumber"></app-even>
        </div>
      </div>

    </div>
  </div>
</div> -->


